.container{
	
}

#card-wrapper,
#controls{
	text-align: center;
	width: 100%;
}

#previous,
#next{
	vertical-align: 185px;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 64px;
	height: 64px;
	display: inline-block;
	cursor: pointer;
}

#previous{
	background: url(../img/previous.png);
	background-size: 100%;
}

#card{
	width: 312px;
	height: 445px;
	display: inline-block;
	position: relative;
}

#card-bgs{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#card-bgs li{
	width: 312px;
	height: 445px;
}

#card-bg-1{
	display: block;
	background: url(../img/105-b.png);
	background-repeat: no-repeat;
}

#card-bg-2{
	display: none;
	background: url(../img/92-b.png);
	background-repeat: no-repeat;
}


#card-art{
	background: url(../img/105-a.jpg);
	background-repeat: no-repeat;
	width: 273px;
	height: 201px;
	position: absolute;
	top: 45px;
	left: 19px;
}

#next{
	background: url(../img/next.png);
	background-size: 100%;
}

#card-count-wrapper,
#timer-wrapper,
#buttons-wrapper{
	display: inline-block;
}

#card-count-wrapper,
#timer-wrapper{
	text-align: left;
}

#buttons-wrapper{
	width: 135px;
	text-align: right;
}

#card-count-wrapper{
	width: 85px;
}

#timer-wrapper{
	width: 85px;
}

#footer{
	text-align: center;
	font-size: 80%;
}

/* Portrait phones and down */
@media (max-width: 320px) {
	#card{
		width: 191px;
		height: 271px;
	}
	
	#card-art{
		background-size: 62%;
		top: 27px;
		left: 10px;
	}
	
	#card-bgs li {
		background-size: 61%;
		width: 312px;
		height: 445px;
	}
	
	#buttons-wrapper{
		width: 90px;
		text-align: right;
	}
	
	#card-count-wrapper small,
	#timer-wrapper small{
		font-size: 70%;
	}
	
	#match,
	#done{
		padding: 0 6px;
		font-size: 10.5px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	#card-count-wrapper{
		width: 50px;
	}
	
	#timer-wrapper{
		width: 44px;
	}
}
